.vertical-center {
    min-height: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
}

#btn_login, #email, #password {
    background-color: rgb(238,238,238);
}

#label_password {
    margin-top: 15px;
}

#recuperar_pass {
    margin-top: 10px;
}